<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/user/style.css">

</head>


<body>
    
<!-- FOOTER  -->

<footer class="bg-light text-center py-3 home-footer">

    <!-- <div class="container"> -->


    <div class="row">
        <div class="logo col-md-4 section">
            <img src="/Assets/Images/footer_logo.png" alt="BookNest Logo">
            <p class="footer-text">BookNest is your one-stop e-commerce platform for discovering, purchasing,
                and enjoying a wide range of books. </p>
        </div>

        <div class="col-md-4 section">
            <h5 class="footer-head">Online Shopping</h5>
            <ul>
                <li>Fiction Books</li>
                <li>Non-Fiction Books</li>
                <li>Children's Books</li>
                <li>Science & Tech Books</li>
                <li>Poetry</li>
            </ul>
        </div>

        <div class="col-md-4 section">
            <h5 class="footer-head">Accepted Payment</h5>
            <a href=""><i class="fab fa-google-pay footer-app-icon"></i></a>
            <a href=""><i class="fab fa-brands fa-paypal footer-app-icon"></i></a>
            <a href=""><i class="fab fa-brands fa-cc-visa footer-app-icon"></i></a>
        </div>


    </div>

    <div class="row">
        <div class="col-md-4 section">
            <h5 class="footer-head">Customer Policies</h5>
            <ul>
                <li>Contact Us</li>
                <li>Terms of Use</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div class="col-md-4 section">
            <h5 class="footer-head">Useful Links</h5>
            <ul>
                <li>Blog</li>
                <li>Careers</li>
            </ul>
        </div>

        <div class="col-md-4 section">
            <h5 class="footer-head">Keep in Touch</h5>

            <a href="#" class="footer-app-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="footer-app-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="footer-app-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="footer-app-icon"><i class="fab fa-whatsapp"></i></a>

        </div>

    </div>
    </div>

    <div class="footer">
        &copy; 2024 BookNest
    </div>
</footer>

<!-- <footer class="bg-light text-center py-3 home-footer">

    <div class="container">

        <div class="row">
            <div class="logo col-md-4 section">
                <img src="/Assets/Images/footer_logo.png" alt="BookNest Logo">
                <p class="footer-text">BookNest is your one-stop e-commerce platform for discovering, purchasing,
                    and enjoying a wide range of books. </p>
            </div>

            <div class="col-md-4 section">
                <h5 class="footer-head">Online Shopping</h5>
                <ul>
                    <li>Fiction Books</li>
                    <li>Non-Fiction Books</li>
                    <li>Children's Books</li>
                    <li>Science & Tech Books</li>
                    <li>Poetry</li>
                </ul>
            </div>

            <div class="col-md-4 section">
                <h5 class="footer-head">Accepted Payment</h5>
                <a href=""><i class="fab fa-google-pay footer-app-icon"></i></a>
                <a href=""><i class="fab fa-brands fa-paypal footer-app-icon"></i></a>
                <a href=""><i class="fab fa-brands fa-cc-visa footer-app-icon"></i></a>
            </div>


        </div>

        <div class="row">
            <div class="col-md-4 section">
                <h5 class="footer-head">Customer Policies</h5>
                <ul>
                    <li>Contact Us</li>
                    <li>Terms of Use</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
            <div class="col-md-4 section">
                <h5 class="footer-head">Useful Links</h5>
                <ul>
                    <li>Blog</li>
                    <li>Careers</li>
                </ul>
            </div>

            <div class="col-md-4 section">
                <h5 class="footer-head">Keep in Touch</h5>

                <a href="#" class="footer-app-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="footer-app-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="footer-app-icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="footer-app-icon"><i class="fab fa-whatsapp"></i></a>

            </div>

        </div>
    </div>

    <div class="footer">
        &copy; 2024 BookNest
    </div>
</footer> -->

<script src="https://kit.fontawesome.com/your-fontawesome-kit.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

</body>

</html>