<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <style>
        .sidebar {
            height: 100vh;
            position: absolute;
            width: 200px;
            background-color: #f8f9fa;

            padding-top: 20px;
        }

        .sidebar a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #000;
            margin-left: 20px;
        }

        .sidebar a:hover {
            background-color: #ddd;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>

</head>

<body>
    <div class="sidebar">
        <a href="/user/profile"><i class="fa-solid fa-circle-user"></i> Profile</a>
        <a href="/user/login"><i class="fa-solid fa-lock"></i> Login</a>
        <a href="/user/signup"><i class="fa-solid fa-user-plus"></i> Signup</a>
        <a href="/user/orders"><i class="fa-solid fa-cart-shopping"></i> Orders</a>
        <a href="/user/cart"><i class="fa-solid fa-bag-shopping"></i> Cart</a>
        <a href="/user/wishlist"><i class="fa-solid fa-heart"></i> Wishlist</a>
        <a href="/user/wallet"><i class="fa-solid fa-wallet"></i> Wallet</a>
        <a href="/user/logout"><i class="fa-solid fa-arrow-right-from-bracket" style="color: rgb(168, 6, 6);"></i>
            Logout</a>
    </div>
</body>

</html>