<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .form-container h2 {
            margin-bottom: 20px;
        }

        .content {
            margin-left: 300px;
            padding: 20px;
            max-width: 1000px;
        }
    </style>
</head>

<body>
    <%- include('../partials/admin/sideBar') %>

        <br><br>
        <div class="content">
            <h4 class="text-center">Change Password</h4>
            <br>
            <form action="/admin/changePassword" method="post" id="change-form">
                <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" class="form-control" id="currentPassword"
                        placeholder="Enter current password" name="currentPass">
                    <div class="text-danger" id="current-pass-error"></div>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="Enter new password"
                        name="newPass">
                    <div class="text-danger" id="new-pass-error"></div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password"
                        name="confirmPass">
                    <div class="text-danger" id="confirm-pass-error"></div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Change Password</button>
            </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script>
            const currentPass = document.getElementById('currentPassword')
            const newPass = document.getElementById('newPassword')
            const confirmPass = document.getElementById('confirmPassword')

            const currentError = document.getElementById('current-pass-error')
            const newError = document.getElementById('new-pass-error')
            const confirmError = document.getElementById('confirm-pass-error')

            const Form = document.getElementById("change-form")

            function currentPasswordValidationChecking(alpha, digit, isValid) {
                currentPassVal = currentPass.value;
                if (!currentPassVal) {
                    currentError.textContent = 'Current password  can not be empty'
                    isValid = false
                } else if (currentPassVal.length < 8) {
                    currentError.textContent = 'Current password should contain at least 8 character'
                    isValid = false
                } else if (!alpha.test(currentPassVal) || !digit.test(currentPassVal)) {
                    currentError.textContent = 'Current password should contain both numbers and alphabests'
                    isValid = false
                } else {
                    currentError.textContent = ''
                }

                return isValid;
            }

            function newPasswordValidationChecking(alpha, digit, isValid) {
                const newPassVal = newPass.value

                if (!newPassVal) {
                    newError.textContent = 'New password  can not be empty'
                    isValid = false
                } else if (newPassVal.length < 8) {
                    newError.textContent = 'New password should contain at least 8 character'
                    isValid = false
                } else if (!alpha.test(newPassVal) || !digit.test(newPassVal)) {
                    newError.textContent = 'New password should contain both numbers and alphabests'
                    isValid = false
                } else {
                    newError.textContent = ''
                }

                return isValid
            }

            function confirmPasswordValidationChecking(alpha, digit, isValid) {
                const confirmPassVal =confirmPass.value;
                const newPassVal = newPass.value

                if (!confirmPassVal) {
                    confirmError.textContent = 'Confirm password  can not be empty'
                    isValid = false
                } else if (confirmPassVal.length < 8) {
                    confirmError.textContent = 'Confirm password should contain at least 8 character'
                    isValid = false
                } else if (confirmPassVal != newPassVal) {
                    confirmError.textContent = 'Passwords do not match'
                    isValid = false
                } else {
                    confirmError.textContent = ''
                }

                return isValid
            }

            Form.addEventListener('submit', function (event) {
                event.preventDefault()

                const alpha = /[a-zA-Z]/
                const digit = /[\d]/

                let isValid = true;


                isValid = currentPasswordValidationChecking(alpha, digit, isValid)
                isValid = newPasswordValidationChecking(alpha, digit, isValid)
                isValid = confirmPasswordValidationChecking(alpha, digit, isValid)

                if (isValid) {
                    this.submit()
                }

            })
        </script>

<% if (message) { %>
    <script>
        alert('<%= message %>');
    </script>
<% } %>

</body>

</html>