<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
        .about-us-container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .about-us-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .about-txt{
            font-size: 18px;
        }
    </style>
</head>
<%- include('../partials/user/nav-bar')%>
<body>
    <br><br><br>
    <div class="container about-us-container">
        <h2>About Us</h2>
        <br>
        <p class="about-txt">Welcome to NestBook, your go-to destination for a diverse collection of books. From timeless classics to the latest bestsellers, we bring a world of stories, knowledge, and imagination to your fingertips.</p>
        <p class="about-txt">Our mission is to inspire a love for reading and learning by making books accessible, affordable, and enjoyable for everyone. Whether you are an avid reader or just starting your journey, NestBook is here to support you.</p>
    </div>
    <br><br>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <%- include('../partials/user/footer')%>

</body>
</html>
