<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Money</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .main-content {
            margin-left: 220px;
            padding: 20px;
        }

        .add-money-box {
            margin-left: 180px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 700px;
        }

        .add-money-txt {
            text-align: center;
        }
    </style>
</head>

<body>
    <%- include('../partials/user/nav-bar')%>
        <%- include('../partials/user/sidebar')%>

            <br><br><br>
            <div class="main-content">
                <h4 class="add-money-txt">Add Money</h4>
                <br>
                <div class="add-money-box">
                    <form class="add-money-form">
                        <br>
                        <div class="form-group ">
                            <label for="amount">Amount to be Added</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₹</span>
                                </div>
                                <input type="number" class="form-control" id="amount" placeholder="Enter amount"
                                    required>
                            </div>
                            <br>
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">PROCEED TO ADD</button>
                        <br>
                    </form>
                </div>
                <br><br><br>
            </div>

            <%if(message){%>
                <script>
                    alert('<%=message%>')
                </script>
                <%}%>


                    <script>
                        const urlparams = new URLSearchParams(window.location.search)
                        const message = urlparams.get('message')
                        if (message) {
                            alert(message)
                        }
                    </script>

                    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                    <%- include('../partials/user/footer')%>

</body>

</html>