<!------- HEADER --------->
<%- include('../partials/user/header') %>
    <!------------------------>

    <!---------------------->
    <!--  BODY -->

    <div class="container">

        <div class="forgot-password-form">
            <h2>Forgot Password</h2>
            <p>Enter your email and we'll send a link to your email to reset your password.</p>

            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>

            <button type="submit" class="btn btn-primary btn-block">CONTINUE</button>
        </div>
    </div>


    <!---------------->


    <!------- FOOTER --------->
    <%- include('../partials/user/footer') %>
        <!------------------------>