<!------- HEADER --------->
<%- include('../partials/user/header') %>
    <!------------------------>

    <!--  BODY -->
    <link rel="stylesheet" href="/user/home.css">

    <main class="container mt-5">

        <!----  home picture ---->
        <div class="text-center">
            <!-- <h1>Welcome to the E-Book Store</h1>
            <p>Discover and buy your favorite e-books!</p>
            <a href="#" class="btn btn-primary">Shop Now</a> -->
            <img src="/Assets/Images/home_pic.webp" alt="Responsive image" class="img-fluid full-width-image">
        </div>



        <br><br><br><br>
        <!-- <div class="row">
            <h3>Best selling</h3>
            <div class="col-md-4">
                <div class="card">
                    <img src="path_to_image" class="card-img-top" alt="Book 2">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="path_to_image" class="card-img-top" alt="Book 2">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="path_to_image" class="card-img-top" alt="Book 3">
                </div>
            </div>

        </div> -->



        <div class="container mt-5">
            <h3>Best selling</h3>
            <div class="row">
                <div class="col-md-4">
                    <img src="/Assets/Images/Animal Farm.jpg" alt="Image 1" class="img-fluid best_selling_books">
                </div>
                <div class="col-md-4">
                    <img src="/Assets/Images/atomic habis back cover.webp" alt="Image 2"
                        class="img-fluid best_selling_books">
                </div>
                <div class="col-md-4">
                    <img src="/Assets/Images/1984.jpg" alt="Image 3" class="img-fluid best_selling_books">
                </div>
            </div>
        </div>





        <!---------------->
        <br><br><br><br>
        <!-- <div class="row">
            <h3>Categories</h3>
            <div class="col-md-4">
                <div class="card">
                    <img src="path_to_image" class="card-img-top" alt="category 1">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="path_to_image" class="card-img-top" alt="category 2">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="path_to_image" class="card-img-top" alt="category 3">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="path_to_image" class="card-img-top" alt="category 4">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="path_to_image" class="card-img-top" alt="Book 1">
                </div>
            </div>

        </div> -->


        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">
                    <img src="/Assets/Images/image1.jpg" alt="Image 1" class="img-fluid full-width-image">
                </div>
                <div class="col-md-4">
                    <img src="/Assets/Images/image2.jpg" alt="Image 2" class="img-fluid full-width-image">
                </div>
                <div class="col-md-4">
                    <img src="/Assets/Images/image3.jpg" alt="Image 3" class="img-fluid full-width-image">
                </div>
            </div>
        </div>




        <!------------->
        <br><br><br><br>
        <div class="row">
            <h4>You might also like</h4>
            <div class="col-md-4">
                <div class="card">
                    <img src="path_to_image" class="card-img-top" alt="Book 1">
                    <div class="card-body">
                        <h5 class="card-title">Book Title 1</h5>
                        <p class="card-text">Brief description of the book.</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="path_to_image" class="card-img-top" alt="Book 2">
                    <div class="card-body">
                        <h5 class="card-title">Book Title 2</h5>
                        <p class="card-text">Brief description of the book.</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="path_to_image" class="card-img-top" alt="Book 3">
                    <div class="card-body">
                        <h5 class="card-title">Book Title 3</h5>
                        <p class="card-text">Brief description of the book.</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="path_to_image" class="card-img-top" alt="Book 4">
                    <div class="card-body">
                        <h5 class="card-title">Book Title 3</h5>
                        <p class="card-text">Brief description of the book.</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!---------------->



    <!------- FOOTER --------->
    <%- include('../partials/user/footer') %>
        <!------------------------>