<!------- HEADER --------->
<%- include('../partials/user/header') %>
    <!------------------------>



    <!----  BODY  ---->

    <div class="container">
        <div class="verification-code-form">
            <h2>Verification Code</h2>
            <p>An authentication code has been sent to your email. Please enter your verification code below.</p>

            <div class="verification-code-input d-flex ">
                <input type="text" maxlength="1" class="otp-input-box">
                <input type="text" maxlength="1" class="otp-input-box">
                <input type="text" maxlength="1" class="otp-input-box">
                <input type="text" maxlength="1" class="otp-input-box">
            </div>

            <button type="submit" class="btn btn-primary btn-block">CONTINUE</button>
        </div>
    </div>

    <!---------------->


    <!------- FOOTER --------->
    <%- include('../partials/user/footer') %>
        <!------------------------>