<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .sidebar {
            padding: 20px;
            border-right: 1px solid #ddd;
            /* margin-left: 10px; */
        }
        .product-card {
            position: relative;
            margin-bottom: 30px;
        }
        .product-card img {
            width: 100%;
            height: auto;
        }
        .product-card .heart-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            color: red;
            cursor: pointer;
        }
        .product-card .card-body {
            text-align: center;
        }
        .product-card .btn {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <%- include('../partials/user/nav-bar')%>

    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <h5>Filters</h5>
                <br>
                <div class="mb-4">
                    <h6>Category</h6>
                    <ul class="list-unstyled">
                        <li><input type="checkbox"> New Releases</li>
                        <li><input type="checkbox"> Fiction</li>
                        <li><input type="checkbox"> Non-Fiction</li>
                        <li><input type="checkbox"> Children's Books</li>
                    </ul>
                </div>
                <div class="mb-4">
                    <h6>Price</h6>
                    <ul class="list-unstyled">
                        <li><input type="checkbox"> Under ₹500</li>
                        <li><input type="checkbox"> ₹500 - ₹1000</li>
                        <li><input type="checkbox"> ₹1000 - ₹2000</li>
                        <li><input type="checkbox"> Over ₹2000</li>
                    </ul>
                </div>
                <div class="mb-4">
                    <h6>Discount</h6>
                    <ul class="list-unstyled">
                        <li><input type="checkbox"> 10% Off</li>
                        <li><input type="checkbox"> 20% Off</li>
                        <li><input type="checkbox"> 30% Off</li>
                        <li><input type="checkbox"> 40% Off</li>
                        <li><input type="checkbox"> 50% Off</li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 product-card">
                        <img src="https://via.placeholder.com/150" alt="Product Image">
                        <div class="heart-icon">&hearts;</div>
                        <div class="card-body">
                            <h5 class="card-title">Product Name</h5>
                            <p class="card-text">₹660</p>
                            <button class="btn btn-outline-warning btn-block">Add to Cart</button>
                        </div>
                    </div>
                   
                </div>
            </div> -->
            <section class="py-5">
                <div class="container-fluid">
          
                  <div class="row">
                    <div class="col-md-12">
          
                      <div class="bootstrap-tabs product-tabs">
                        <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                          <h3>Trending Products</h3>
                          <!-- <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <a href="#" class="nav-link text-uppercase fs-6 active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all">All</a>
                              <a href="#" class="nav-link text-uppercase fs-6" id="nav-fruits-tab" data-bs-toggle="tab" data-bs-target="#nav-fruits">Fruits & Veges</a>
                              <a href="#" class="nav-link text-uppercase fs-6" id="nav-juices-tab" data-bs-toggle="tab" data-bs-target="#nav-juices">Juices</a>
                            </div>
                          </nav> -->
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
          
                            <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
          
                              <!-- <div class="col">
                                <div class="product-item">
                                  <span class="badge bg-success position-absolute m-3">-30%</span>
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-bananas.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div> -->
          
                              <!-- <div class="col">
                                <div class="product-item">
                                  <span class="badge bg-success position-absolute m-3">-30%</span>
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-biscuits.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div> -->
          
                              <!-- <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-cucumber.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div> -->
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-milk.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-bananas.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-biscuits.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-cucumber.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-milk.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-bananas.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-biscuits.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                            </div>
                            <!-- / product-grid -->
          
                          </div>
          
                          <div class="tab-pane fade" id="nav-fruits" role="tabpanel" aria-labelledby="nav-fruits-tab">
          
                            <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
          
                              <div class="col">
                                <div class="product-item">
                                  <span class="badge bg-success position-absolute m-3">-30%</span>
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-cucumber.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <span class="badge bg-success position-absolute m-3">-30%</span>
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-milk.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <span class="badge bg-success position-absolute m-3">-30%</span>
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="index.html" title="Product Title">
                                      <img src="images/thumb-orange-juice.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="index.html" title="Product Title">
                                      <img src="images/thumb-raspberries.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-bananas.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-bananas.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                            </div>
                            <!-- / product-grid -->
          
                          </div>
                          <div class="tab-pane fade" id="nav-juices" role="tabpanel" aria-labelledby="nav-juices-tab">
          
                            <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="user/home" title="Product Title">
                                      <img src="images/thumb-cucumber.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="index.html" title="Product Title">
                                      <img src="/public/user/home/images/thumb-milk.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="index.html" title="Product Title">
                                      <img src="/public/user/home/images/thumb-tomatoes.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="index.html" title="Product Title">
                                      <img src="images/thumb-tomatoketchup.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="index.html" title="Product Title">
                                      <img src="images/thumb-bananas.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                              <div class="col">
                                <div class="product-item">
                                  <a href="#" class="btn-wishlist"><svg width="24" height="24">
                                      <use xlink:href="#heart"></use>
                                    </svg></a>
                                  <figure>
                                    <a href="index.html" title="Product Title">
                                      <img src="images/thumb-bananas.png" class="tab-image">
                                    </a>
                                  </figure>
                                  <h3>Sunstar Fresh Melon Juice</h3>
                                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24"
                                      class="text-primary">
                                      <use xlink:href="#star-solid"></use>
                                    </svg> 4.5</span>
                                  <span class="price">$18.00</span>
                                  <div class="d-flex align-items-center justify-content-between">
                                    <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                          data-type="minus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#minus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                      <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                          data-type="plus">
                                          <svg width="16" height="16">
                                            <use xlink:href="#plus"></use>
                                          </svg>
                                        </button>
                                      </span>
                                    </div>
                                    <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                                  </div>
                                </div>
                              </div>
          
                            </div>
                            <!-- / product-grid -->
          
                          </div>
          
                        </div>
                      </div>
          
                    </div>
                  </div>
                </div>
              </section>
          
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <%- include('../partials/user/footer')%>

</body>
</html>
