<!------- HEADER --------->
<%- include('../partials/user/header') %>
    <!------------------------>

    <link rel="stylesheet" href="/user/reset-password.css">

    <!-------- BODY -------->

    <div class="container">
        <div class="reset-form">
            <h2>Reset Password</h2>

            <form action="/user/reset-password" method="post" id="user-reset-pass-form">

            
                <div class="form-group">
                    <input id="password" type="password" class="form-control" placeholder="New Passowrd"
                        name="newPassword">
                    <div class="login-error-message text-danger" id="password-error"></div>

                </div>

                <div class="form-group">
                    <input id="confirmPassword" type="password" class="form-control" placeholder="Confirm Password"
                        name="confirmPassword">
                    <div class="login-error-message text-danger" id="confirm-password-error"></div>

                </div>

                <button type="submit" class="btn btn-primary btn-block"> SIGNUP </button>

            </form>
        </div>
    </div>


    <script>
        document.getElementById('user-reset-pass-form').addEventListener('submit', function (event) {
          event.preventDefault();
      
          const password = document.getElementById('password');
          const confirmPassword = document.getElementById('confirmPassword');
      
          const passwordError = document.getElementById('password-error');
          const confirmPasswordError = document.getElementById('confirm-password-error');
      
          // Reset error messages
          passwordError.textContent = '';
          confirmPasswordError.textContent = '';
      
          const alpha = /[a-zA-Z]/;
          const digit = /\d/;
      
          let isValid = true;
      
          if (!password.value.trim()) {
            passwordError.textContent = 'Password is required.';
            isValid = false;
          } else if (!alpha.test(password.value) || !digit.test(password.value)) {
            passwordError.textContent = 'Password must contain at least one letter and one digit.';
            isValid = false;
          }
      
          if (!confirmPassword.value.trim()) {
            confirmPasswordError.textContent = 'Confirm password is required.';
            isValid = false;
          } else if (password.value !== confirmPassword.value) {
            confirmPasswordError.textContent = 'Passwords do not match.';
            isValid = false;
          }
      
          if (isValid) {
            this.submit();
          }
        });
      </script>
      

    <!---------------->

    <!------- FOOTER --------->
    <%- include('../partials/user/loginFooter')%>

        <!-- -------------------- -->