<!------- HEADER --------->
<%- include('../partials/user/header') %>
    <!------------------------>



    <!-------- BODY -------->

    <div class="container">
        <div class="reset-form">
            <h2>Reset Password</h2>

            <form action="/reset-password" method="post">

                <div class="form-group">
                <input type="hidden" name="email">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="New Passowrd" >
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password">
                </div>

                <button type="submit" class="btn btn-primary btn-block"> SIGNUP </button>

            </form>
        </div>
    </div>

    <!---------------->



    <!------- FOOTER --------->
    <%- include('../partials/user/footer') %>
        <!------------------------>