<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNest Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/style.css">
    <link rel="stylesheet" href="/user/reset-password.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>

<body>

    <!-------------->
    <!--  NAV BAR  -->

    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/Assets/Images/menu_bar_logo.png" alt="NestBook" class="menu_bar_logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                        <a class="dropdown-item" href="#">Fiction</a>
                        <a class="dropdown-item" href="#">Non-Fiction</a>
                        <a class="dropdown-item" href="#">Poetry</a>
                        <a class="dropdown-item" href="#">Science & Tech</a>
                        <a class="dropdown-item" href="#">Children's Book</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto d-none d-lg-flex">
                <li class="nav-item">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search Product"
                            aria-label="Search">
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle no-arrow move-left" href="#" id="accountDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="accountDropdown">
                        <a class="dropdown-item" href="#"><i class="fas fa-user"></i>&nbsp; Profile</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-lock"></i> &nbsp;Login</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-user-plus"></i>&nbsp; Sign Up</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-shopping-cart"></i> &nbsp;Ordres</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-shopping-bag"></i>&nbsp; Cart</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-heart"></i>&nbsp; Whishlist</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-wallet"></i>&nbsp; Wallet</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"
                                style="color: #d60505;"></i>&nbsp; Logout</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav d-lg-none">
                <li class="nav-item">
                    <a class="nav-link" href="#">Cart</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accountDropdownMobile" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="accountDropdownMobile">
                        <a class="dropdown-item" href="#"><i class="fas fa-user"></i>&nbsp; Profile</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-lock"></i>&nbsp; Login</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-user-plus"></i>&nbsp; Sign Up</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-shopping-cart"></i>&nbsp; Ordres</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-shopping-bag"></i>&nbsp; Cart</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-heart"></i>&nbsp; Whishlist</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-wallet"></i>&nbsp; Wallet</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"
                                style="color: #d60505;"></i>&nbsp; Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!------------------>



    <!-------- BODY -------->

    <div class="container">
        <div class="reset-form">
            <h2>Reset Password</h2>

            <form>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="New Passowrd">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password">
                </div>

                <button type="submit" class="btn btn-primary btn-block"> SIGNUP </button>

            </form>
        </div>
    </div>

    <!---------------->


    <!-- FOOTER  -->
    <footer class="bg-light text-center py-3 home-footer ">

        <div class="container-footer">

            <div class="row">
                <div class="logo col-md-4 section">
                    <img src="/Assets/Images/footer_logo.png" alt="BookNest Logo" class="footer-img">
                    <p class="footer-text">BookNest is your one-stop e-commerce platform for discovering, purchasing,
                        and enjoying a wide range of books. </p>
                </div>

                <div class="col-md-4 section">
                    <h5 class="footer-head">Online Shopping</h5>
                    <ul>
                        <li>Fiction Books</li>
                        <li>Non-Fiction Books</li>
                        <li>Children's Books</li>
                        <li>Science & Tech Books</li>
                        <li>Poetry</li>
                    </ul>
                </div>

                <div class="col-md-4 section">
                    <h5 class="footer-head">Accepted Payment</h5>
                    <a href=""><i class="fab fa-google-pay footer-app-icon"></i></a>
                    <a href=""><i class="fab fa-brands fa-paypal footer-app-icon"></i></a>
                    <a href=""><i class="fab fa-brands fa-cc-visa footer-app-icon"></i></a>
                </div>


            </div>

            <div class="row">
                <div class="col-md-4 section">
                    <h5 class="footer-head">Customer Policies</h5>
                    <ul>
                        <li>Contact Us</li>
                        <li>Terms of Use</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
                <div class="col-md-4 section">
                    <h5 class="footer-head">Useful Links</h5>
                    <ul>
                        <li>Blog</li>
                        <li>Careers</li>
                    </ul>
                </div>

                <div class="col-md-4 section">
                    <h5 class="footer-head">Keep in Touch</h5>

                    <a href="#" class="footer-app-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="footer-app-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="footer-app-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="footer-app-icon"><i class="fab fa-whatsapp"></i></a>

                </div>

            </div>
        </div>

        <div class="footer">
            &copy; 2024 BookNest
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/your-fontawesome-kit.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

</body>

</html>