<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Item" id="searchInput"
                onkeyup="searchUsers()">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>

    <script>
        function searchUsers() {
            const input = document.getElementById('searchInput').value.toLowerCase();
            const rows = document.querySelectorAll('#list-table tbody tr');

            rows.forEach(row => {
                const productName = row.querySelector('#product-name').innerText.toLowerCase();
                const category = row.querySelector('#category').innerText.toLowerCase();

                // Check if the input matches either the product name or the category
                if (productName.includes(input) || category.includes(input)) {
                    row.style.display = ''; // Show row
                } else {
                    row.style.display = 'none'; // Hide row
                }
            });
        }

    </script>
    
    
</body>
</html>