<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .sidebar {
            height: 100vh;
            position: fixed;
            width: 220px;
            background-color: #f8f9fa;
            padding-top: 20px;
            padding-left: 15px;
        }

        .sidebar a {
            padding: 10px 15px;
            text-decoration: none;
            font-size: 18px;
            color: #333;
            display: block;
        }

        .sidebar a:hover {
            background-color: #c3c1c1;
            border-radius: 5px;
        }

        .sidebar-logo {
            width: 170px;
            margin-bottom: 15px;
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <div class="text-center mb-4">
            <img src="/public/assets/sidebar.png" class="sidebar-logo" alt="">
        </div>

        <a href="/admin/dashboard"><i class="fa-brands fa-squarespace"></i> Dashboard</a>
        <a href="/admin/product"><i class="fa-solid fa-rectangle-list"></i> Products</a>
        <a href="/admin/category"><i class="fa-solid fa-table"></i> Categories</a>
        <a href="/admin/orders"><i class="fa-solid fa-bag-shopping"></i> Orders</a>
        <a href="/admin/customer"><i class="fa-solid fa-user-plus"></i> Customers</a>
        <a href="/admin/review"> <i class="fa-solid fa-comment"></i> Reviews</a>
        <a href="/admin/offer"><i class="fa-solid fa-layer-group"></i> Offers</a>
        <a href="/admin/coupon"><i class="fa-solid fa-money-bill-1"></i> Coupon</a>
        <a href="/admin/changePassword"><i class="fa-solid fa-key"></i> Change Password</a>
        <a href="/admin/logout"><i class="fa-solid fa-right-from-bracket" style="color: rgb(230, 71, 71);"></i>
            Logout</a>
    </div>
</body>

</html>